{
  "username": "{{ item.username }}",
  "email": "{{ item.email }}",
  "password": "{{ item.password | default(harbor_user_default_password) }}",
  "realname": "{{ item.realname | default(item.name | default(item.username)) }}",
  "comment": "{{ item.comment | default('') }}",
  "has_admin_role": {{ item.has_admin_role | default(false) | bool | lower }}
}
